{% extends 'base.html' %}

{% block content %}

{% include '_home-snippet.html' %}
<br><br>

<p>Health leaders have called on the government to immediately activate its “Plan B” for coronavirus restrictions in
    England to avert a winter crisis in the NHS and to avoid undermining efforts to tackle the growing hospital
    treatment backlog.</p>

<p>The call for ministers to implement Covid-19 contingency plans, including compulsory mask-wearing, vaccine passports
    and work-from-home orders, follows an increase in case numbers, hospital pressures and Covid-19 mortality figures.
</p>

<p>The daily death toll from Covid across the UK reached 223 on Tuesday, the highest since early March, while new cases
    have exceeded 40,000 a day for the last week and daily hospital admissions are nearing 1,000 for the first time in
    more than a month.</p>

<p>Matthew Taylor, chief executive of the NHS Confederation, which represents organisations across the healthcare
    sector, said in a statement: “It is time for the government to enact Plan B of its strategy without delay because
    without pre-emptive action, we risk stumbling into a winter crisis.”</p>

<p>“The government should not wait for Covid infections to rocket and for NHS pressures to be sky high before the panic
    alarm is sounded,” he said, adding that the health service was “preparing for what could be the most challenging
    winter on record”.</p>


{% endblock content %}