{% extends 'base.html' %}

{% block content %}
<br>
<div class="row justify-content-center">


  <div class="col-md-8">
    <h3>Man Bites Dog</h3>
    <h6>A dog bit a man today in the fields, and it was messy</h6>
    Financial Times - 18th Oct 2021
    <br>
    Gary Chives, Rachel Meadows

    <br><br>

    <h3>Mouse Eats Cat</h3>
    <h6>A mouse ate a cat today in a surprising development</h6>
    Financial Times - 18th Oct 2021
    <br>
    Alex Jones, Sam Adams
  </div>


  {% endblock content %}