<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>These Times</title>
    <link href="{{ url_for('core.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('core.static', filename='css/style.css') }}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('core.static', filename='img/favicon.ico') }}">


</head>

<body class="bg-dark">

    <div class="container">


        <div class="row justify-content-center">


            <h2 class="display-4">
                <center><a href="/" class="nav-link link-light">These Times</a></center>
            </h2>
            <ul class="nav justify-content-center">

                <li class="nav-item">
                    <a class="nav-link link-light" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/opinion">Opinion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/tech">Tech</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/sports">Sports</a>
                </li>
            </ul>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link link-light" href="/latest">Latest</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Publications</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/pubs/nyt">The New York Times</a>
                        <a class="dropdown-item" href="/pubs/ft">Financial Times</a>
                        <a class="dropdown-item" href="/pubs/wsj">The Wall Street Journal</a>
                        <a class="dropdown-item" href="/pubs/dw">Deutsche Welle</a>
                        <a class="dropdown-item" href="/pubs/bbc">BBC World</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/pubs/nyr">The New Yorker</a>
                        <a class="dropdown-item" href="/pubs/econ">The Economist</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/pubs/sky">Sky Sports</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/pubs/ars">Ars Technica</a>
                        <a class="dropdown-item" href="/pubs/mit">MIT Technology Review</a>

                    </div>
                </li>
            </ul>
            <br>
            <hr>

        </div>

        <br>
        <div id="content" class="row justify-content-center">
            <div class="col-sm-8">
                {% block content %}

                {% endblock content %}
            </div>
        </div>

    </div>

    <script src="{{ url_for('core.static', filename='js/bootstrap.bundle.min.js') }}"></script>


</body>

</html>